# =====Folders=====
.gradle/
.idea/
.settings/
.vscode/
bin/
build/
gradle/
logs/

# =====Files=====
*.iml
.classpath
.project

# =====Libarr=====
process/
collection/
*.db
*.yaml
!Neptunes-Dashboard.yaml