# =====Folders=====
.gradle/
.idea/
.settings/
.vscode/
bin/
build/
logs/
out/

# =====Files=====
*.iml
.classpath
.project
*.sqlite

# =====Project=====
!Neptunes-Dashboard.yaml
!Postman/*
config.yaml