body {
	background: url(/background.jpg) no-repeat center center fixed;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}

.opacity {
	opacity: 0.9;
}

.ui.card {
	display: inline-block;
	margin: 10px;
}

.ui.card,
.ui.cards>.card,
.ui.card>.content,
.ui.cards>.ui.card>.content,
.ui.card>.meta,
.ui.cards>.card>.meta,
.ui.card>.content>.header,
.ui.cards>.card>.content>.header,
.ui.card>.content>.description,
.ui.cards>.card>.content>.description,
.ui.card>.extra,
.ui.cards>.card>.extra {
	background-color: black;
	color: white;
}