body {
	background: url(/background.jpg) no-repeat center center fixed;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}

.opacity {
	opacity: 0.9;
}