name: Publish
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  ghcr:
    name: Publish to GHCR
    permissions:
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup qemu
        uses: docker/setup-qemu-action@v3.7.0
      - name: Setup docker buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Login to GHCR
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker meta
        uses: docker/metadata-action@v5.10.0
        id: meta
        with:
          images: |
            name=ghcr.io/buried-in-code/neptunes-dashboard
          flavor: |
            latest=true
          tags: |
            type=pep440,pattern={{version}}
      - name: Build and Push
        uses: docker/build-push-action@v6.19.2
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64/v8
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
